@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url(/image/background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.book {
  color: rgb(198, 52, 52);
}

h2 {
  margin-top: 30px;
}

form label {
  display: block;
  margin-top: 10px;
}

#borrowList {
  list-style-type: none;
}

#borrowList li button {
  margin-left: 10px;
}
